/*
* 
* @author Luis Paulo da Silva de Siqueira
-----------------------------*/



/*Limpar formatações padrão-----------------------------*/
* {
	margin: 0;
	padding: 0;
}

/**************Formatações globais******************/


p, html, boby{
	font-size: 16px;
	color: black;
}


/*******************Ids**************************/

/* Layout-----------------------------*/

#formatacao {
	font-size: 16px;
  	font-family: Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif;
	/*font-family: "Trebuchet MS", Helvetica, sans-serif;*/
	color: black; 
	background: #f3f3f3;
	padding: 0;
	margin: 0;
	 /*background-color: #454d6b; Fundo escuro cinza */
	background-color: green;
}


/* Menu de opções fixo no inicio-----------------------------*/

#navegacao {
	background: #fff;
	border-bottom: 1px solid #d8d8d8;
	height: 55px;
	position: 100%;
	width: auto;
	top: 0;
	color: black;

}

#area {
	width: 150%;
	margin: 0 auto;
	color: black;
	
}

/* tamanho da área de colocar conteudo-----------------------------*/

#area-principal {
	width: auto;
	margin: 55px auto 10px auto;
	color: black;
}


#postagem {
	background: white;
	padding: 10px;
	margin-bottom: 10px;
	font color: black;
	color: black;
}


/****Formatação do menu / links ************/
a {
	text-decoration: none;
	padding: 5px 10px;
	color: black;
}
/*Links não visitados*/
a:link {
		color: black;
}

/*Links vistados*/
a:visited {
		color: black;
}

/*Links hover*/
a:hover {
	color: black;
	background: lightgreen; /*Mudar a cor do fundo do menu*/
}

/*Links active*/
a:active {
	color: black;
}


/*Classes*/

.verde {color: green;}



.postado {
	border-left: 5px solid  black;  /*A cor do traço-->*/ 
	padding-left: 5px;
	display: block;
	margin-top: 20px;
}


.img_osasco{
	text-align: center;
	display: block;
	margin:0 10px 5px 0;
	left: 30px;
	right: 30px;
}

/****************Ultima parte*********************/
.rodape {
	font-size: 14px;
	padding-left: 5px;
	display: block;
	margin-top: 0px;
	background: #fff;
	width: 100%;
	margin: 10px auto 10px auto;
	

}



.data-postagem {
	font-size: 14px;
	border-bottom: 1px solid  black;
	display: block;
	padding-bottom: 10px;
	margin-bottom: 10px;
}

 /**********************************/



/****************************************************
***********************Formatação do menu************/
a {
	text-decoration: none;
	padding: 5px 10px;
}
/*Links não visitados*/
a:link {
	color: #838383;
}

/*Links vistados*/
a:visited {
	color: #838383;
}

/*Links hover*/
a:hover {
	color: #fff;
	background: lightgreen;
}

/*Links active*/
a:active {
	color: #535353;
}




/*Formatação da tela de login do teste 2*/




 
/* esconde as ancoras da tela */
a.links{
  display: none;
}





}

h1:after{
  content: ' ';
  display: block;
  width: 100%;
  height: 2px;
  margin-top: 10px;

}


p{
  margin-bottom:15px;
}
 
.content p:first-child{
  margin: 0px;
}
 
label{
  color: ;
  position: relative;
}

/* placeholder */
::-webkit-input-placeholder  {
  color: ; 
  font-style: italic;
}
 
input:-moz-placeholder,
textarea:-moz-placeholder{
  color: ;
  font-style: italic;
}


input {
  outline: none;
}
 
/*estilo dos input,  menos o checkbox */
input:not([type="checkbox"]){
  width: 95%;
  margin-top: 4px;
  padding: 10px;    
  border: 1px solid #b2b2b2;

/*Teste de respansividade*/
 

 @import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&display=swap');
* {
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
}

header {
    background-color: #24252a;
    box-shadow: 0px 3px 10px #464646;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 6rem;
}

.logo {
    display: flex;
    align-items: center;
}

.logo h1 {
    color: #fff;
}

.nav-list {
    display: flex;
    align-items: center;

}

.nav-list ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

.nav-item {
    margin: 0 15px;
}

.nav-link {
    text-decoration: none;
    font-size: 1.15rem;
    color: #fff;
    font-weight: 400;
}

.login-button button {
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    background-color: #0187a7;
}

.login-button button a {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    font-size: 1.1rem;
}

.mobile-menu-icon {
    display: none;
}

.mobile-menu {
    display: none;
}

@media screen and (max-width: 730px) {
    .nav-bar {
        padding: 1.5rem 4rem;
    }
    .nav-item {
        display: none;
    }
    .login-button {
        display: none;
    }
    .mobile-menu-icon {
        display: block;
    }
    .mobile-menu-icon button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
    .mobile-menu ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }
    .mobile-menu .nav-item {
        display: block;
        padding-top: 1.2rem;
    }
    .mobile-menu .login-button {
        display: block;
        padding: 1rem 2rem;
    }
    .mobile-menu .login-button button {
        width: 100%;
    }
    .open {
        display: block;
    }
}

/*************@Query respansividade*************/

 
/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
	.btn-custom {
		margin: 10px 15px;
		font-size: 2em;
	}
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
	h1 {
		font-size: 3em;
	}
	.btn-custom {
		margin: 10px 15px;
	}
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
	h1 {
		font-size: 4em;
	}
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
	h1 {
		font-size: 5em;
	}
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
	h1 {
		font-size: 6em;
	}
}













